---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../layouts/Greeting";
const pageTitle = "Home Page";
---


<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog post</h2>
	<Greeting client:load messages={['Hej', 'Hello', 'Hola', 'Habari']} />
</BaseLayout>